*{

    margin: 0 ;
    padding: 0 ;

}

body{

    min-height: 100vh ;
    display: flex ;
    align-items: center;
    justify-content: center ;
    background-image: linear-gradient( 103.3deg, 
     rgba(252,225,208,1) 30%,
     rgba(255,173,214,1) 55.7%, 
     rgba(162,186,245,1) 81.8% );
    padding: 30px;

}

.container{

    height: 100vh ;
    width: 100% ;

}

.profile{

    width: 30px ;
    cursor: pointer;
    margin-left:699px 
    

}

.wishlist{
    width: 30px ;
    cursor: pointer;
    margin-left: 50px;

}

.cart{

    width: 30px ;
    cursor: pointer;
    margin-left: 50px;
    
}

.navbar{

   /* width: 100% ;
    height: 15vh ;*/
    display: flex ;
    align-items: center ;   
    box-shadow: none;

}

nav {

    flex: 1 ;
    padding-left: 0px  ;
    margin: auto;

}

nav ul li {
    display: inline-block ;
    list-style: none ;
    margin: 0px 20px ;
}

nav ul li a{

    text-decoration: none ;
    color: rgb(8, 7, 7);
    position: relative;
}